<h1> <%= @team.name %> </h1>

<%= "Members:"%>
<ul class="thumbnails">
<% @team.members.each do |member| %>
  <%= render :partial => "/employees/employee_thumbnail", :locals => {:emp => member}%>
<% end %>
</ul>
<br>

<%= link_to "Edit Team", edit_team_url(@team), :class => "btn btn-large btn-primary" %>