<h1> Employees </h1>
<div id="employees">
<%= render :partial => "employee" %>

<%#= link_to "Create New Employee" ,new_employee_url , :class => "btn btn-large btn-primary" %>
<br>
</div>
<%= link_to "Create New Employee" ,new_employee_url , :class => "btn btn-large" %>
<%= will_paginate @employees %>